header {
  float: left;
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
  width: 100%;
   border: 3px solid black;
    margin-bottom: 60px;
   background: linear-gradient(to bottom, #6699ff 0%, #99ccff 100%);
}

.logo{
  text-align: center;
  font-family: 'Times New Roman', serif;
}

.logo1{
  background-color: black;
    border: 5px solid black;
}

h1{
  
 line-height: 0.8em;
  margin: 1px;
  font-size: 4em;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  margin: -5px 0 0;
  font-weight: normal;
}

img{
  float: left;
}
body {
background: linear-gradient(to bottom, #ffffff 0%, #ccccff 100%);
}

nav {
  text-align: right;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

nav {
    background-color: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }



footer {
  font-size: 0.9em;
  text-align: left;
  clear: both;
  padding-top: 50px;
  color: black;
}

.social-icon {
 
  width: 20px;
  height: 20px;
  margin: 0 5px;
}